<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrape IP Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Scrape IP Info</h4>
                </div>

                <div class="card-body">
                    <button id="scraping-button" class="btn btn-primary" onclick="save_ip_info()">Scrape</button>
                    <h4 id="task-status" class="d-none">Waiting for task to complete</h4>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        function save_ip_info(){
            fetch("/fetching/data/api/")
            .then(res=>res.json())
            .then(res=>{
                const task_id = res.task_id
                checking_task_status(task_id)
            })
            .catch(err=>console.log(err))
        }

        function checking_task_status(task_id){
            fetch(`/fetching/task/result/api/?task_id=${task_id}`)
            .then(res=>res.json())
            .then(res=>{
                const scraping_button = document.getElementById('scraping-button')
                const task_status = document.getElementById('task-status')
                
                scraping_button.classList.add('d-none')

                if (res['status'] === 'pending') {
                    task_status.innerHTML = "Waiting for task to complete"
                    task_status.classList.remove('d-none');
                setTimeout(() => checking_task_status(task_id), 1000);
                } else {
                    scraping_button.classList.remove('d-none')
                    task_status.innerHTML = "Task Completed"
                }

            })
            .catch(err=>console.log(err))
        }
    </script>
</body>
</html>